In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:799Wfhtr@localhost:5432/naturalstattrick"
)

df = pd.read_sql("SELECT * FROM all_individual_counts;", engine)

print("Number of rows and columns:", df.shape)
print("\nColumn names:", df.columns.tolist())
display(df.head())  # if in Jupyter, otherwise use print(df.head())

Number of rows and columns: (5595, 36)

Column names: ['index', 'Player', 'Team', 'Position', 'GP', 'TOI', 'Goals', 'Total Assists', 'First Assists', 'Second Assists', 'Total Points', 'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts', 'Rebounds Created', 'PIM', 'Total Penalties', 'Minor', 'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost', 'Faceoffs %', 'Season']

,index,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs Won,Faceoffs Lost,Faceoffs %,Season
0,0,Zdeno Chara,BOS,D,68,1428.733333,5,9,2,7,...,14,52,26,78,67,101,0,0,NaN,20192020
1,1,Joe Thornton,S.J,C,70,1085.000000,7,24,13,11,...,9,30,55,20,30,29,323,331,49.39,20192020
2,2,Patrick Marleau,"PIT, S.J","C, L",66,1028.066667,11,11,6,5,...,11,15,29,57,45,24,36,40,47.37,20192020
3,3,Ron Hainsey,OTT,D,64,1323.633333,1,11,4,7,...,3,56,9,51,48,102,0,0,NaN,20192020
4,4,Justin Williams,CAR,R,20,272.316667,8,3,2,1,...,5,13,3,20,17,7,3,7,30.00,20192020